/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}


/* Form wrapper styling */

.search-wrapper {
    width: 720px;
    margin: 45px auto 50px auto;
    display: flex;
    align-items: stretch;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}


/* Form text input */

.search-wrapper input {
    padding: 12px 6px;
    /*font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';*/
    border: 0;
    /*background: #EEE;*/
    border-radius: 2px 0 0 2px;
    flex: 10;
}

.search-wrapper input:focus {
    outline: 0;
    /*background: #fff;*/
    /*box-shadow: 0 0 2px rgba(0,0,0,.8) inset;*/
}

.search-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}


/* Form submit button */

.search-wrapper button {
    overflow: visible;
    position: relative;
    border: 0;
    cursor: pointer;
    width: 80px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: white;
    text-transform: uppercase;
    background: #11bb41;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.search-wrapper button:hover {
    background: #16e952;
}

.search-wrapper button:active,
.search-wrapper button:focus {
    background: #11bb41;
    outline: 0;
}

.search-wrapper button:before {
    /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #11bb41 transparent;
    top: 12px;
    left: -6px;
}

.search-wrapper button:hover:before {
    border-right-color: #16e952;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before {
    border-right-color: #11bb41;
}

.search-wrapper button::-moz-focus-inner {
    /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

#ui-searchbox {
    align-items: center;
    background: #046a38;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 25px;
}

#welcome-message {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0px;
}

.categories {
    width: 720px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 240px;
    text-decoration-skip: ink;
    font-size: 16px;
    margin-bottom: 16px;
}

.cat-link {
    color: #11bb41 !important;
}